body
{
    text-align: left;
}
#ttr_sidebar
{
    border-left: 1px solid black;
}

#ttr_header
{
    text-align: center;
    text-align: center;
    margin-bottom: 0px;
}

.nav-link {
    color: white;
}

#ttr_main
{
    padding: 10px;
}

#headerNavBar
{
    background-color: black;
    padding: 10px;
    margin-top: 25px;
}


#ttr_footer
{
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}
.title
{
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}